extends layout
block content
    #map
        #map-ui
            ul
              li
                a#grid.active(href='#') Interactivity
              li
                a#legend(href='#') Legend
              li
                a#zoomer.active(href='#') Zoomer
              li
                a#fullscreen(href='#') Fullscreen
              li
                a#attribution.active(href='#') Attribution
              li
                a#hash(href='#') Hash
    input(type="text", id="foo", class="container-narrow", value="", data-slider-min="0", data-slider-max="336", data-slider-step="1", data-slider-value="0", data-slider-orientation="horizontal", data-slider-selection="after",data-slider-tooltip="hide")
    script(src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js')
    link(href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css', rel='stylesheet')
    script(src='/javascripts/moment.min.js')
    link(rel='stylesheet', href='/CSS/2013-05-23T00.css', id="mapStyleSheet")
    
    style(type='text/css')
        @import('/CSS/2013-05-23T00.css')
        
        div.slider.slider-horizontal{
            width: 100%;
        }
    
        #map-ui {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 100;
        }
        
        #map-ui ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        #map-ui a {
            font-size: 13px;
            background: #FFF;
            color: #3C4E5A;
            display: block;
            margin: 0;
            padding: 0;
            border: 1px solid #BBB;
            border-bottom-width: 0;
            min-width: 138px;
            padding: 10px;
            text-decoration: none;
        }
        
        #map-ui a:hover {
            background: #ECF5FA;
        }
        
        #map-ui li:last-child a {
            border-bottom-width: 1px;
            -webkit-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
        }
        
        #map-ui li:first-child a {
            -webkit-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
        }
        
        #map-ui a.active {
            background: #3887BE;
            border-color: #3887BE;
            border-top-color: #FFF;
            color: #FFF;
        }
        
        #map-ui li:first-child a.active {
            border-top-color: #3887BE;
        }
        
        #map .map-fullscreen {
            background-color: #28353D;
        }
    script(type='text/javascript')
        $('#foo').slider().on('slide', function(ev){
           console.log(ev)
           tmp = moment("2013-05-23T00", "YYYY-MM-DD[T]HH").add('h', ev.value).format("YYYY-MM-DD[T]HH");;
            console.log(tmp)
            $("#mapStyleSheet").attr({href : "/CSS/"+tmp+".css"});
        });
        
        
        $("div.slider.slider-horizontal").attr('style', 'width: 100%;')
        
        var map = L.mapbox.map('map', 'examples.map-uci7ul8p', {attributionControl: false})
            .setView([38.82, -94.96], 4);
        
        
        var gridControl = L.mapbox.gridControl(gridLayer, {follow: true})
            .addTo(map);
        
        document.getElementById('grid').onclick = function() {
            if (this.className === 'active') {
                map.removeLayer(tileLayer);
                map.removeLayer(gridLayer);
                map.removeControl(gridControl);
                this.className = '';
            } else {
                map.addLayer(tileLayer);
                map.addLayer(gridLayer);
                map.addControl(gridControl);
                this.className = 'active';
            }
        };
        
        var legend = 'Data from Robert Kieffer.';
        
        document.getElementById('legend').onclick = function() {
            if (this.className === 'active') {
                map.legendControl.removeLegend(legend);
                this.className = '';
            } else {
                map.legendControl.addLegend(legend);
                this.className = 'active';
            }
        };
        
        var fullscreenControl = new L.Control.Fullscreen();
        var hash = L.hash();
        
        // Connect check boxes to ui functions
        function toggle(control, element) {
            if (element.className === 'active') {
                control.removeFrom(map);
                element.className = '';
            } else {
                control.addTo(map);
                element.className = 'active';
            }
        }
        
        document.getElementById('zoomer').onclick = function() {
            toggle(map.zoomControl, this);
        };
        
        document.getElementById('fullscreen').onclick = function() {
            toggle(fullscreenControl, this);
        };
        
        document.getElementById('attribution').onclick = function() {
            toggle(map.attributionControl, this);
        };
        
        document.getElementById('hash').onclick = function() {
            if (this.className === 'active') {
                hash.remove();
                this.className = '';
            } else {
                hash.init(map);
                this.className = 'active';
            }
        };