!!!
html
    head
        title= 'Alcoholic Tweeter'
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/slider/css/slider.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/slider/js/bootstrap-slider.js')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='Daniel Kershaw')
        script(type='text/javascript')
            function go(){
                
                window.location.href=$("#postcodefeild").val();
            }
        
    body
        #wrap
            .navbar.navbar-default.navbar-fixed-top
                .container
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/') Alcoholic Tweets
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav
                            if (menu=="index")
                                li.active
                                    a(href="/") Map
                            else
                                li
                                    a(href="/") Map
                            if (menu=="postcode")
                                li.active.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown') Postcode
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            form.navbar-form.navbar-left(role='search', onsubmit='go(); return false;')
                                                .form-group
                                                    input#postcodefeild.form-control(type='text', placeholder='e.g. LA')
                                                    p
                                                    center
                                                        button.btn.btn-default(type='') Submit

                            else
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown') Postcode
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            form.navbar-form.navbar-left(role='search', onsubmit='go(); return false;')
                                                .form-group
                                                    input#postcodefeild.form-control(type='text', placeholder='e.g. LA')
                                                    p
                                                    center
                                                        button.btn.btn-default(type='') Submit
                            li
                                a(href='https://www.dropbox.com/s/8eku9pa1lrgqqx1/Alcoholic%20Tweets.pdf') Paper
                            li
                                a(href='http://highwire.lancs.ac.uk') Highwire

            .container     
                block content
            br
            
        #footer
            .container
                p.text-muted.credit © Daniel Kershaw 2013