!!!
html
    head
        title= 'Alcoholic Tweeter'
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='Daniel Kershaw')
        style(type='text/css')
            body {
            padding-top: 20px;
            padding-bottom: 40px;
            }
            /* Custom container */
            .container-narrow {
            margin: 0 auto;
            max-width: 700px;
            }
            .container-narrow > hr {
            margin: 30px 0;
            }
            /* Main marketing message and sign up button */
            .jumbotron {
            margin: 60px 0;
            text-align: center;
            }
            .jumbotron h1 {
            font-size: 72px;
            line-height: 1;
            }
            .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
            }
            /* Supporting marketing content */
            .marketing {
            margin: 60px 0;
            }
            .marketing p + h4 {
            margin-top: 28px;
            }
    body
        .container-narrow
            .masthead
                ul.nav.nav-pills.pull-right
                    li.active
                        a(href='#') Home
                    li
                        a(href='#') About
                    li
                        a(href='#') Contact
                h3.muted Alcholic Tweeters
            hr
            
            block content
            
            hr
            .footer
                p © Daniel Kershaw 2013