!!!
html
    head
        title= 'Alcoholic Tweeter'
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/slider/css/slider.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/slider/js/bootstrap-slider.js')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='Daniel Kershaw')
        style(type='text/css')
            html,
            body {
              height: 100%;
              /* The html and body elements cannot have any padding or margin. */
            }
            
            /* Wrapper for page content to push down footer */
            #wrap {
              min-height: 100%;
              height: auto !important;
              height: 100%;
              /* Negative indent footer by its height */
              margin: 0 auto -60px;
              /* Pad bottom by footer height */
              padding: 0 0 60px;
            }
            
            /* Set the fixed height of the footer here */
            #footer {
              height: 60px;
              background-color: #f5f5f5;
            }
            
            
            /* Custom page CSS
            -------------------------------------------------- */
            /* Not required for template or sticky footer method. */
            
            #wrap > .container {
              padding: 60px 15px 0;
            }
            .container .credit {
              margin: 20px 0;
            }
            
            #footer > .container {
              padding-left: 15px;
              padding-right: 15px;
            }
            
            code {
              font-size: 80%;
            }
    body
        #wrap
            .navbar.navbar-default.navbar-fixed-top
                .container
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#') Project name
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href='#') Home
                            li
                                a(href='#about') About
                            li
                                a(href='#contact') Contact

            
            block content
            
            
            #footer
                .container
                    p © Daniel Kershaw 2013