!!!
html
    head
        title= 'Alcoholic Tweeter'
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/slider/css/slider.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/slider/js/bootstrap-slider.js')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='Daniel Kershaw')
        script(defer='defer')
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-38372941-5', 'alcohol-twitter-map.herokuapp.com');
            ga('send', 'pageview');

        script(type='text/javascript')

            function go(){
                
                window.location.href=$("#postcodefeild").val();
            }
        
    body
        #wrap
            .navbar.navbar-default.navbar-fixed-top
                .container
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/') Alcoholic Tweets
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav
                            if (menu=="index")
                                li.active
                                    a(href="/") Map
                            else
                                li
                                    a(href="/") Map
                            if (menu=="postcode")
                                li.active.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown') Postcode
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            form.navbar-form.navbar-left(role='search', onsubmit='go(); return false;')
                                                .form-group
                                                    input#postcodefeild.form-control(type='text', placeholder='e.g. LA')
                                                    p
                                                    center
                                                        button.btn.btn-default(type='') Submit

                            else
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown') Postcode
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            form.navbar-form.navbar-left(role='search', onsubmit='go(); return false;')
                                                .form-group
                                                    input#postcodefeild.form-control(type='text', placeholder='e.g. LA')
                                                    p
                                                    center
                                                        button.btn.btn-default(type='') Submit
                            if (menu=="about")
                                li.active
                                    a(href="/about") About
                            else
                                li
                                    a(href="/about") About
                            li
                                a(href='https://www.dropbox.com/s/qawqorlir6y2zfj/Alcoholic%20Tweets%20Final.pdf') Paper
                            li
                                a(href='http://www.highwire-dtc.com/') Highwire

            .container     
                block content
            br
            
        #footer
            .container
                p.text-muted.credit © Daniel Kershaw 2013